
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        var ro = !!d.getElementById(id);
        js = d.createElement(s); js.id = id;
        js.src = "https://widgets.moovit.com/ws/99ACADF883EE0AB9E0530100007FDED9/3316580";
        fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'moovit-jsw');</script>

<div class="mv-gd-widget-20"
     data-width="100%"
     data-height="1000"
     data-id="3316580">

</div>